.color-DK{
    color:#C41F3B;
}
.color-DH{
    color:#A330C9;
}
.color-Druid{
    color:#FF7D0A;
}
.color-Hunter{
    color:#ABD473;
}
.color-Mage{
    color:#69CCF0;
}
.color-Monk{
    color:#00FF96;
}
.color-Paladin{
    color:#F58CBA;
}
.color-Priest{
    color:#FFFFFF;
}
.color-Rogue{
    color:#FFF569;
}
.color-Shaman{
    color:#0070DE;
}
.color-Warlock{
    color:#9482C9;
}
.color-Warrior{
    color:#C79C6E;
}

.background-color-DK{
    background-color:#C41F3B;
}
.background-color-DH{
    background-color:#A330C9;
}
.background-color-Druid{
    background-color:#FF7D0A;
}
.background-color-Hunter{
    background-color:#ABD473;
}
.background-color-Mage{
    background-color:#69CCF0;
}
.background-color-Monk{
    background-color:#00FF96;
}
.background-color.Paladin{
    background-color:#F58CBA;
}
.background-color-Priest{
    background-color:#FFFFFF;
}
.background-color-Rogue{
    background-color:#FFF569;
}
.background-color-Shaman{
    background-color:#0070DE;
}
.background-color-Warlock{
    background-color:#9482C9;
}
.background-color-Warrior{
    background-color:#C79C6E;
}